<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../static/default.css">
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script type="module" src="../static/page.js"></script>



</head>

<body>

    <div class="__page-content">

        <div class="visualizer-container">

            <div class="visualizer-primary-graph">

            </div>

            <div class="visualizer-back-button-container">
                <button id="visualizer-back" class="visualizer-back-button">Back</button>
            </div>

        </div>

    </div>

</body>

</html